<link rel="apple-touch-icon" sizes="180x180" href="/assets/fabicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="256x256" href="/assets/fabicon/android-chrome-256x256.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/fabicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/fabicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/fabicon/favicon-16x16.png">
<link rel="manifest" href="/assets/fabicon/site.webmanifest">
<link rel="mask-icon" href="/assets/fabicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">