* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */

  /* light mode */
  /** CSS LIGHT THEME PRIMARY COLORS */
  --color-primary-100: #ffffff; /* 밝은 흰색 */
  --color-primary-200: #f8f8f8; /* 거의 흰색 */
  --color-primary-300: #f0f0f0; /* 매우 밝은 회색 */
  --color-primary-400: #e8e8e8; /* 밝은 회색 */
  --color-primary-500: #e0e0e0; /* 연한 회색 */
  --color-primary-600: #d8d8d8; /* 조금 더 어두운 회색 */

  /** CSS LIGHT THEME TEXT COLORS */
  --text-primary-100: #121212;
  --text-primary-200: #282828;
  --text-primary-300: #3f3f3f;
  --text-primary-400: #575757;
  --text-primary-500: #717171;
  --text-primary-600: #8b8b8b;

  --md-block-color: #c2d1e4;
}

.darkmode {
  /* dark mode */
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #121212; /* 가장 어두운 색 */
  --color-primary-200: #1c1c1c; /* 조금 밝은 어두운 색 */
  --color-primary-300: #262626; /* 더 밝은 어두운 색 */
  --color-primary-400: #303030; /* 중간 어두운 색 */
  --color-primary-500: #3a3a3a; /* 더 밝은 중간 어두운 색 */
  --color-primary-600: #444444; /* 가장 밝은 어두운 색 */

  --text-primary-100: #ffffff;
  --text-primary-200: #e0e0e0;
  --text-primary-300: #c0c0c0;
  --text-primary-400: #a0a0a0;
  --text-primary-500: #808080;
  --text-primary-600: #606060;

  --md-block-color: #adbac7;
}


@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 16px;
  }

  @include breakpoint($large) {
    font-size: 16px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 60px 8vw 0;
  background-color: var(--color-primary-100);
}