.masthead {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(16px);

    &__inner-wrap {
        position: relative;
        align-items: center;
        display: flex;
        height: 60px;
        justify-content: space-between;
        padding: 0 30px;
    }

    &.stickyHead {
        background-color: var(--color-primary-100);
        transition: all 0.3s ease-in-out;
    }

    a {
        color: var(--text-primary-100);
        text-decoration: none;
    }
}

#theme-switch {
    padding: 0;
    border: #ffffff;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    // background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;

    svg:last-child {
        display: none;
    }
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

.masthead__title {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.site-title {
    font-size: 1.25em;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.masthead__menu {
    display: flex;
    height: 100%;
}

.nav__inner-wrap {
    display: flex;
    padding: 0 0 0 30px;
}

.nav-item {
    font-size: 0.75em;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:not(.is-active):hover {
    color: var(--text-primary-400);
    transition: $global-transition;
}

.nav-indicator {
    position: absolute;
    top: 0px;
    background-color: var(--text-primary-100);
    height: 3px;
    border-radius: 0 0 16px 16px;
    transition: all 0.6s ease-in-out;
    animation: fadeInDown 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeInDown {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translateZ(0);
    }
}