.post__nav {
    grid-area: 1 / 1 / 2 / 3;

    &__wrapper {
        background-color: var(--color-primary-200);
        border-radius: 16px;
        padding-bottom: 16px;
        position: sticky;
        top: 60px;

        h4 {
            padding: 1.33em;
        }
    }

    h4 {
        margin: 0
    }

    .title {
        font-weight: 600;
        margin-bottom: -16px;
        color: var(--text-primary-100)
    }

    a {
        color: var(--text-primary-100);
        text-decoration: none;
    }
}

.category-item {
    display: block;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 4px;

    &:not(.is-active):hover {
        color: var(--text-primary-100);
        background-color: var(--color-primary-100);
    }

    &.is-active {
        color: var(--text-primary-100);
        background-color: var(--color-primary-400);

        .post-nav__subtitle {
            color: var(--text-primary-100);
        }
    }
}

.post-nav {
    transition: all 0.3s ease;
    &__title {
        font-weight: 600;
        color: var(--text-primary-300);
        padding: 16px 0 0; // 위, 좌 우, 아래
    }

    &__wrapper {
        padding: 0 1rem;
    }

    &__subtitle {
        color: var(--text-primary-400);
        font-weight: 500;
        padding: 8px 16px; // 위 아래 , 좌 우
    }
}

.post__wrapper {
    grid-area: 1 / 3 / 2 / 13;
    background-color: var(--color-primary-200);
    height: auto;
}

.post-item {
    display: none;
    color: var(--text-primary-200);

    a {
        text-decoration: none;
        color: var(--text-primary-3
        
        00);
    }
}

.post-item.visible {
    display: block;
}

.post__nav,
.category-item,
.post-nav {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.post__nav__wrapper,
.post-nav__title,
.post-nav__subtitle,
.category-item.is-active .post-nav__subtitle {
    transition: background-color 0.3s ease;
}

a {
    transition: color 0.3s ease;
}

.post-item {
    transition: color 0.3s ease, background-color 0.3s ease;
}

