.main__content {
    border-radius: 16px;
    padding: 1.25rem 1rem 1rem 1rem;

    .page__title {
        color: var(--text-primary-200);
        font-weight: 600;
        line-height: 1.25;
        font-size: 2rem;
        border-bottom: 0 !important;
        margin-top: 0;
    }
    :target {
        scroll-margin-top: 10px;
    }
}

.page__sidebar {
    max-height: calc(100vh - 60px - 3rem);
    min-width: 100%;
    flex-shrink: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    border-radius: 16px;
    transition: max-height $nav-transition;

    &.sticky {
        position: sticky;
        top: 60px;
    }
    &.stickyHead {
        max-height: calc(100vh - 4rem);
        transition: max-height $nav-transition;
    }
}

.toc {
    padding: 0 .75rem;

    a {
        color: var(--text-primary-100);
        text-decoration-line: none;
        display: block;
        font-weight: 600;
        transition: color .3s ease;

        &:hover {
            color: var(--text-primary-600);
        }
    }

    &.tocToc {
        h4,
        a {
            color: var(--text-primary-600);
            &:hover {
                color: var(--text-primary-400);
            }
        }
    }


    .category__content {
        &.tocd {
            padding-top: 8px;
        }
    }

    ul,
    li {
        padding-left: 0;
        list-style-type: none;

        &.tocActive {
            a {
                color: var(--text-primary-200);
                font-weight: 700;
            }
        }
    }

    li ul>li {
        position: relative;
        padding-left: 1rem;
    }

    li ul>li:before {
        content: '';
        position: absolute;
        left: 0.25rem;
        top: 0px;
        bottom: -4px;
        width: 1px;
        background-color: var(--color-primary-400);
    }

    li ul>li a {
        color: var(--text-primary-200);
        font-weight: 500;
    }

    li ul li ul>li a {
        color: var(--text-primary-300);
        font-weight: 400;
    }

    li ul li ul li ul>li a {
        color: var(--text-primary-400);
        font-weight: 300;
    }

    li ul li ul li ul li ul>li a {
        color: var(--text-primary-500);
        font-weight: 200;
    }

    li ul li ul li ul li ul li ul>li a {
        color: var(--text-primary-600);
        font-weight: 100;
    }
}

.sized__box {
    height: 24px;
}

.related-posts {
    margin: 2rem 0;
    &__title {
        color: var(--text-primary-100);
        margin-bottom: 0.875rem;
    }
    &__line {
        border-top: 1px solid var(--color-primary-400);
        margin-bottom: 1.75rem;
    }
    &__wrapper {
        display: flex;
        gap: 1rem;
    }
}

.related-item {
    background-color: var(--color-primary-200);
    border-radius: 1rem;
    padding: 1rem;
    width: calc((100% - 3rem)/4);
    min-height: 12.5rem;
    max-height: 18.75rem;
    overflow: hidden; 
    position: relative;
    text-decoration: none;

    &__title {
        color: var(--text-primary-200);
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
    }

    &__excerpt {
        color: var(--text-primary-400);
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; 
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__date {
        color: var(--text-primary-500);
        font-size: 0.75rem;
        font-weight: 400;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}

.modal:target {
  display: flex;
}

@media (max-width: 1279px) {
    .main__content {
        padding: 0;
        background-color: var(--color-primary-100);
    }
    #single {
        display: none;
    }
}

@media (max-width: 767px) {
    .related-posts {
        &__wrapper {
            flex-direction: column;
            gap: 0.75rem;
        }
    }
    
    .related-item {
        width: 100%;
        min-height: 8rem;
        max-height: 10rem;
    
        &__excerpt {
            margin: 0 0 1.5rem 0;
        }
    }
}
