.highlighter-rouge .highlight {
    background-color: #fff;
    border-radius: 16px !important;
    font-family: 'D2Coding', sans-serif;
}

.page__section {
    display: flex;
    flex-direction: row;
}
.main__content {
    flex: 1;
}
:target:before {
    content: "";
    display: block;
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
  }

.page__nav {
    // width: 250px; /* TOC의 너비를 조정 */
    padding-right: 16px;
    // flex-shrink: 0; /* TOC의 너비를 고정 */
}

.page__sidebr.sticky {
    position: sticky;
    top: 60px; /* 스크롤 시 TOC가 상단에 고정되도록 */
}

.main__content {
    .page__title {
        border-bottom: 0 !important;
    }
}