/* noto-sans-kr-regular - korean_latin */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/noto-sans-kr-v36-korean_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-kr-800 - korean_latin */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/font/noto-sans-kr-v36-korean_latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    // 라이트 모드
    --text-color-l  : #000000; // 검정
    --bg-color-l    : #FFFFFF; // 하양

    // 다크 모드
    --text-color-d  : #FFFFFF;
    --bg-color-d    : #000000;

    --main-color    : #3fc65c;
    font-family: "Noto Sans KR", sans-serif;
}

#MathJax_Message {
    display: none !important;
}

$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px