:root {
    // 라이트 모드
    --text-color-l  : #000000
    --bg-color-l    : #FFFFFF
    --main-color-l  : #3fc65c

    // 다크 모드
    --text-color-d  : #FFFFFF
    --bg-color-d    : #000000
    --main-color-d  : #3fc65c
}