/* noto-sans-kr-regular - korean_latin */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/noto-sans-kr-v36-korean_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-kr-800 - korean_latin */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/font/noto-sans-kr-v36-korean_latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    font-family: "Noto Sans KR", sans-serif;
}