.home-main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

.home {
    position: relative;
    padding: 70px 17% 60px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}

.home .bg-image {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
}

.home-text h5 {
    font-size: var(--h5-font);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--main-color);
}

.home-text h1 {
    font-size: var(--h1-font);
    color: #fff;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    color: #ffffffab;
}

.btn1 {
    display: inline-block;
    background: var(--main-color);
    color: #000000;
    border: 2px solid transparent;
    transition: all .50s ease;
    cursor: pointer;
}

.btn1:hover {
    transform: translate(10px);
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

.row-img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.copyright p {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    color: #979797;
    font-size: 15px;
}

/* 4k (해상도 2560px ~ ) */
@media all and (min-width:2560px) {
    :root {
        --h1-font: 9rem;
        --h5-font: 40px;
        --p-font: 25px;
    }

    .home-text p {
        line-height: 40px;
        margin-bottom: 35px;
    }

    .btn1 {
        padding: 13px 40px;
        font-size: 25px;
        font-weight: 800;
        border-radius: 7px;
    }

    .content {
        width: 40%;
        margin-left: 100px;
    }

    .content p {
        font-size: 25px;
        margin-top: 40px;
    }

    .content h2 {
        font-size: 80px;
        font-weight: 800;
    }

    .slide-button a {
        padding: 13px 40px;
        margin-top: 25px;
        font-size: 25px;
        font-weight: 800;
        border-radius: 5px;
    }
}

/* PC (해상도 1024px ~ 2559)*/
@media all and (min-width:1024px) and (max-width:2560px) {
    :root {
        --h1-font: 5rem;
        --h5-font: 20px;
        --p-font: 18px;
    }

    .home-text h5 {
        margin-bottom: 0px;
    }

    .home-text p {
        line-height: 25px;
        margin-bottom: 15px;
    }

    .btn1 {
        padding: 10px 40px;
        font-size: 15px;
        font-weight: 800;
        border-radius: 7px;
    }

    .content {
        width: 45%;
    }

    .content p {
        font-size: 16px;
    }

    .content h3 {
        font-size: 50px;
        font-weight: 800;
    }

    .slide-button a {
        padding: 10px 20px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 800;
        border-radius: 5px;
    }
}

/* 테블릿 가로 (해상도 768px ~ 1024px)*/
@media all and (min-width:767px) and (max-width:1025px) {
    :root {
        --h1-font: 4.5rem;
        --h5-font: 18px;
        --p-font: 16px;
    }

    .home-text h5 {
        margin-bottom: -30px;
    }

    .home-text p {
        line-height: 20px;
        margin-bottom: 10px;
    }

    .btn1 {
        padding: 10px 25px;
        font-size: 12px;
        font-weight: 800;
        border-radius: 7px;
    }

    .content h3 {
        font-size: 40px;
        font-weight: 800;
    }

    .slide-button a {
        padding: 5px 15px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 800;
        border-radius: 5px;
    }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 768px)*/
@media all and (min-width:480px) and (max-width:769px) {
    :root {
        --h1-font: 3.5rem;
        --h5-font: 16px;
        --p-font: 14px;
    }

    section {
        padding: 70px 7% 60px;
    }

    .home-text h5 {
        margin-bottom: -35px;
    }

    .home-text p {
        line-height: 20px;
        margin-bottom: 10px;
    }

    .btn1 {
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 800;
        border-radius: 7px;
    }

    .slide {
        padding: 0 15px;
        flex-direction: column;
    }

    .content h3 {
        margin-top: 30%;
        text-align: center;
        font-size: 35px;
        font-weight: 800;
    }

    .content p {
        margin: 60px 0 0 0;
    }

    .slide-button a {
        padding: 5px 15px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 800;
        border-radius: 5px;
    }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    :root {
        --h1-font: 2.5rem;
        --h5-font: 14px;
        --p-font: 12px;
    }

    section {
        padding: 70px 7% 60px;
    }

    .home-text h5 {
        margin-bottom: -35px;
        letter-spacing: 2px;
    }

    .home-text p {
        line-height: 15px;
        margin-bottom: 10px;
    }

    .btn1 {
        padding: 5px 15px;
        font-size: 12px;
        font-weight: 800;
        border-radius: 7px;
    }

    .slide {
        padding: 0 15px;
        flex-direction: column;
    }

    .content h3 {
        margin-top: 25%;
        text-align: center;
        font-size: 25px;
        font-weight: 800;
    }

    .content p {
        margin: 50px 0 0 0;
    }

    .slide-button a {
        padding: 5px 15px;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 800;
        border-radius: 5px;
    }
}