html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.masthead {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background: transparent;
  padding: 27px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;
}



.logo {
  font-size: 2vw;
  font-weight: 800;
  color: var(--text-color-l);
}

span {
  color: var(--main-color);
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1.25vw;
  font-weight: 600;
  color: var(--text-color-l);
  margin: 1vw 1.25vw;
  transition: all .50s ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.h-right {
  display: flex;
  align-items: center;
}

.h-right a:first-child {
  font-size: 1.2vw;
  color: var(--text-color-l);
  margin-right: 1.5vw;
}

.h-right a {
  font-size: 1.2vw;
  color: var(--text-color-l);
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  transition: all .50s ease;
}

.h-right a:hover {
  color: var(--main-color);
  transform: translateY(-3px);
}

.masthead.stickyHead {
  padding: 5px 13%;
  background: transparent;
  backdrop-filter: blur(35px);
}
.masthead ul,
.masthead li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.masthead.dark .logo,
.masthead.dark .navbar a,
.masthead.dark .h-right a {
  color: var(--text-color-d);
}

.dark .h-right a:hover,
.dark .navbar a:hover {
  color: var(--main-color);

}