.nav__left {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 100%;
  margin-right: 1.5%;
  width: 18.5%;
  top: 7%;
  border: 1px solid mix(#fff, #7a8288, 70%);
  border-radius: 6px;
}
.nav__left ul,
.nav__left li {
  list-style-type: none;
}
.category__title {
  font-size: $type-size-5;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  background: var(--main-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.nav__left li:last-child .dropdown {
  border-bottom: 0;
}

.nav__left li.active .dropdown .ri-arrow-left-s-line {
  transform: rotate(-90deg);
}

.dropdown {
  cursor: pointer;
  display: flex;
  padding: 0.5rem 0.25rem;
  font-size: $type-size-6;
  font-weight: 800;
  border-top: 1px solid mix(#fff, #7a8288, 70%);
  position: relative;
  transition: all 0.2s ease-out;
  overflow: hidden;
}

.dropdown i {
  top: 0.25rem;
  left: 0.25rem;
}

.dropdown .ri-arrow-left-s-line {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}


.submenuItems {
  display: none;
}

.nav__left li.active .submenuItems {
  display: block;
}

.submenuItems a {
  color: var(--text-color-l);
  display: block;
  font-size: $type-size-6;
  transition: all 0.2s ease-out;
  padding: 0.25rem 0.75rem;
  font-weight: bold;
}

.dropdown:hover,
.submenuItems a:hover {
  color: var(--main-color);
  transition: all .20s ease;
}