<div class="masthead">
    <div class="masthead__inner-wrap">
        <a href="/" class="site-title">{{ site.title }}</a>
        <nav class="masthead__menu">
            <div class="nav__inner-wrap">
                <a href="/" class="nav-item">Home</a>
            </div>
            <div class="nav__inner-wrap">
                <a href="/about/" class="nav-item">About</a>
            </div>
            <div class="nav__inner-wrap">
                <a href="/posts/" class="nav-item">posts</a>
            </div>
            <div class="nav__inner-wrap">
                <a href="/projects/" class="nav-item">Projects</a>
            </div>
            <span class="nav-indicator"></span>
        </nav>
    </div>
</div>