<div class="masthead">
    <div class="masthead__inner-wrap">
        <div class="masthead__title">
            <button id="theme-switch">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="5" fill="#FFBA34" />
                    <rect x="11" y="16" width="4" height="2" rx="1" transform="rotate(90 11 16)" fill="#FFBA34" />
                    <rect x="11" width="4" height="2" rx="1" transform="rotate(90 11 0)" fill="#FFBA34" />
                    <rect x="4" y="11" width="4" height="2" rx="1" transform="rotate(-180 4 11)" fill="#FFBA34" />
                    <rect x="20" y="11" width="4" height="2" rx="1" transform="rotate(-180 20 11)" fill="#FFBA34" />
                    <rect x="6.46448" y="14.9497" width="4" height="2" rx="1" transform="rotate(135 6.46448 14.9497)"
                        fill="#FFBA34" />
                    <rect x="17.7782" y="3.63599" width="4" height="2" rx="1" transform="rotate(135 17.7782 3.63599)"
                        fill="#FFBA34" />
                    <rect x="5.05023" y="6.46448" width="4" height="2" rx="1" transform="rotate(-135 5.05023 6.46448)"
                        fill="#FFBA34" />
                    <rect x="16.364" y="17.7782" width="4" height="2" rx="1" transform="rotate(-135 16.364 17.7782)"
                        fill="#FFBA34" />
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.0584 9.9418C9.29609 9.17917 8.77694 8.20769 8.56655 7.15011C8.35617 6.09254 8.46398 4.99632 8.87637 4C7.70057 4.23147 6.62053 4.80843 5.7744 5.65706C3.40853 8.023 3.40853 11.8594 5.7744 14.2253C8.14086 16.5919 11.9765 16.5913 14.343 14.2253C15.1914 13.3792 15.7683 12.2994 16 11.1239C15.0037 11.5362 13.9075 11.644 12.85 11.4336C11.7925 11.2232 10.821 10.7041 10.0584 9.9418Z" fill="#1B264A"/>
                </svg>
            </button>
            <a href="/" class="site-title">
                {{ site.title }}</a>
        </div>
        <nav class="masthead__menu">
            <div class="nav__inner-wrap">
                <a href="/" class="nav-item">Home</a>
            </div>
            <!-- <div class="nav__inner-wrap">
                <a href="/about/" class="nav-item">About</a>
            </div> -->
            <div class="nav__inner-wrap">
                <a href="/posts/" class="nav-item">Posts</a>
            </div>
            <!-- <div class="nav__inner-wrap">
                <a href="/projects/" class="nav-item">Projects</a>
            </div> -->
            <span class="nav-indicator"></span>
        </nav>
    </div>
</div>