<div class="masthead">
    <div class="masthead__inner-wrap">
        <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
        <nav class="masthead__menu">
            <!-- {%- for link in site.data.navigation.main -%}
            <a class="nav-item {% if link.title == 'Home' %}is-active{% endif %}" href="{{ link.url | relative_url}}" >{{
                link.title }}</a>
            {%- endfor -%} -->
            <a href="/" class="nav-item">Home</a>
            <a href="/about/" class="nav-item">About</a>
            <a href="/posts/" class="nav-item">Posts</a>
            <a href="/projects/" class="nav-item">Projects</a>
            <span class="nav-indicator"></span>
        </nav>
    </div>
</div>