---
layout: default
permalink: /assignments/
---

<div class="assignment">
    <div class="banner-area">
        <picture class="bg-img-as">
            <img src="/assets/images/background3.webp" alt="">
        </picture>
        <h2>Assignments</h2>
    </div>
    <div class="wrapper-as">
        <section class="post__content">
            <div class="markdown-body">
                <div>
                    {% assign assignment_posts = site.posts | where: "categories", "Assignment" %}
                    {% for assignment in assignment_posts %}
                    <article>
                        <div>
                            {{ assignment.content }}
                        </div>
                    </article>
                    <hr>
                    {% endfor %}
                </div>
            </div>
            <section class="nav__right">
                {% if assignment.toc %}
                <aside class="sidebar__right {% if assignment.toc_sticky %}sticky{% endif %}">
                  <nav class="toc">
                    <header>
                      <h4 class="nav__title"><i class="fas fa-{{ assignment.toc_icon | default: 'file-alt' }}"></i> {{
                        assignment.toc_label
                        | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4>
                    </header>
                    {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
                  </nav>
                </aside>
                {% endif %}
              </section>
        </section>
    </div>
</div>