---
layout: default
permalink: /assignments/
---

<div class="category-as">
    <div class="banner-area">
        <picture class="bg-img-as">
            <img src="/assets/images/background3.webp" alt="">
        </picture>
        <h2>Assignments</h2>
    </div>
    <div class="wrapper">
        <div class="markdown-body">
            {% assign assignment_posts = site.posts | where: "categories", "Assignment" %}
            {% for assignment in assignment_posts %}
            <article>
                <div>
                    {{ assignment.content }}
                </div>
            </article>
            <hr>
            {% endfor %}
            
        </div>

    </div>

</div>