---
layout: default
---

<div class="category">
    <div class="banner-area">
        <picture class="bg-img">
            <img src="/assets/images/background.webp" alt="">
        </picture>
        <h2>Computer Network</h2>
    </div>
    <div class="wrapper">
        <h2>목차</h2>
        <div class="chapter">
            {% assign filtered_posts_1 = site.posts | where: "bigtitle", "제1장 컴퓨터 네트워크와 인터넷" %}
            <h3>제1장 컴퓨터 네트워크와 인터넷</h3>
            <div class="contents">
                {% for post in filtered_posts_1 reversed %}
                <a href="{{site.baseurl}}{{post.url}}" class="">
                    <h4>{{post.title}}</h4>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="chapter">
            {% assign filtered_posts_2 = site.posts | where: "bigtitle", "제2장 애플리케이션 계층" %}
            <h3>제2장 애플리케이션 계층</h3>
            <div class="contents">
                {% for post in filtered_posts_2 reversed %}
                <a href="{{site.baseurl}}{{post.url}}" class="">
                    <h4>{{post.title}}</h4>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="chapter">
            {% assign filtered_posts_3 = site.posts | where: "bigtitle", "제3장 트랜스포트 계층" %}
            <h3>제3장 트랜스포트 계층</h3>
            <div class="contents">
                {% for post in filtered_posts_3 reversed %}
                <a href="{{site.baseurl}}{{post.url}}" class="">
                    <h4>{{post.title}}</h4>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>