---
---
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="max-age=86400, must-revalidate">
    <!-- 제목 -->
    <title>보겸 Blog</title>
    
    {% if page.use_math %}
      {% include mathjax_support.html %}
    {% endif %}

    <!-- boxicons 링크 -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>

    {{content}}

    {% include scripts.html %}
</body>

</html>