---
---

<!DOCTYPE html>
<html lang="ko" data-theme="light">

<head>
    {% include head.html %}
    {% include head/fabicon.html %}
    <title>{{ page.title }}</title>
    <script>
        !function () {
            let theme = localStorage.getItem("theme");
            if (theme === "dark") {
                document.documentElement.setAttribute('data-theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        }();
    </script>
    {% if page.layout == 'home' or page.layout == 'single' %}
    <link href="http://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.css" rel="stylesheet" type="text/css">
    {% endif %}
</head>

<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
    {% include_cached masthead.html %}
    {{ content }}
    <div id="footer" class="page__footer">
        <footer>
            {% include_cached footer.html %}
        </footer>
    </div>
    {% include scripts.html %}
</body>

</html>
