---
layout: default
---
<div class="container">
    <div class="home-title">
        <h1 class="home-title__head">
                <a href="" class="typewrite" data-period="2000" data-type='[ 
                    "printf(\"Hello, World!\");",
                    "std::cout << \"Bogamie Blog\";",
                    "System.out.print(\"Since 2024\");",
                    "import antigravity",
                    "return 0;"
                    ]'>
                <span class="wrap"></span>
            </a>
        </h1>
    </div>
    <div class="github-contribution">
        <div class="calendar">
            Loading the data just for you.
        </div>
        <p align="center">
            <img src="https://streak-stats.demolab.com?user=bogamiee&theme=whatsapp-light&hide_border=true" alt="Light Mode Image" id="light-mode-img">
            <img src="https://streak-stats.demolab.com?user=bogamiee&theme=whatsapp-dark&hide_border=true&background=121212"  alt="Dark Mode Image" id="dark-mode-img">
        </p>
    </div>
</div>

<script src="/assets/js/typewriter.js"></script>
<script src="/assets/js/contribution.js"></script>
