---
layout: default
dark_mode: true
---
<div class="home-main">
    <section class="home">
        <picture class="bg-image">
            <img src="{{ site.bg-url }}" alt="">
        </picture>
        <div class="home-text">
            <h5>Hello, World!</h5>
            <h1>안녕하세요!<br>김보겸입니다.</h1>
            <p>저의 블로그에 오신걸 환영합니다.<br>이곳은 제가 공부한 것을 정리하고 복습하는 블로그입니다.</p>
            <a href="about/" class="btn1">저를 알아보세요!</a>
        </div>
    </section>
</div>

<div class="copyright">
    <p>Copyright 2024. Kim Bogyeom All rights reserved.</p>
</div>