---
layout: default
---
<div class="container">
	<div class="grid-system">
		<section class="nav-wrapper">
			<div class="nav-wrapper wrap" id="single">
				<aside class="page__sidebar {% if page.toc_sticky %}sticky{% endif %}">
					<nav class="toc">
						<article class="markdown-body">
							<header class="nav-items">
								<h4 class="nav__title"><i class="fas fa-file-alt"></i> On this page</h4>
							</header>
							<div class="category__content tocd">
								{% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu"
								skip_no_ids=true %}
							</div>
						</article>
					</nav>
				</aside>
			</div>
		</section>

		<section class="post-wrapper">
			<div class="main__content">
				<article class="markdown-body">
					<div class="post__info">
						<h1 class="page__title">
							{{ page.title }}
						</h1>
					</div>
					{{ content }}
				</article>
			</div>
		</section>
	</div>

	<div class="sized__box"></div>
	{% include related_posts.html %}
</div>

<script src="/assets/js/single.js"></script>
<script src="/assets/js/gumshoe.js"></script>