---
layout: default
---
<div class="container">
	<div class="grid-system">
		<section class="nav-wrapper">
			<div class="nav-wrapper wrap" id="single">
				<aside class="page__sidebar {% if page.toc_sticky %}sticky{% endif %}">
					<nav class="toc">
						<article class="markdown-body">
							<header class="nav-items">
								<h4 class="nav__title"><i class="fas fa-file-alt"></i> On this page</h4>
							</header>
							<div class="category__content tocd">
								{% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu"
								skip_no_ids=true %}
							</div>
						</article>
					</nav>
				</aside>
			</div>
		</section>

		<section class="post-wrapper">
			<div class="main__content">
				<article class="markdown-body">
					<div class="post__info">
						<h1 class="page__title">
							{{ page.title }}
						</h1>
					</div>
					{{ content }}
				</article>
			</div>
		</section>
	</div>

	<div class="sized__box"></div>

	<div class="related-posts">
		<h2 class="related-posts__title">Related posts</h2>
		<div class="related-posts__line"></div>
		{% assign current_category = page.categories | join: '-' | downcase %}
		{% assign reversed_posts = site.posts | reverse %}
		
		{% assign related_posts = "" | split: "" %}
		{% for post in reversed_posts %}
			{% assign post_category = post.categories | join: '-' | downcase %}
			{% if post_category == current_category and post.url != page.url %}
				{% assign related_posts = related_posts | push: post %}
			{% endif %}
			{% if related_posts.size == 4 %}
				{% break %}
			{% endif %}
		{% endfor %}
		
		<div class="related-posts__wrapper">
			{% for post in related_posts %}
			<a href="{{ post.url }}" class="related-item">
				<div>
					<div class="related-item__title">{{ post.title }}</div>
					<div class="related-item__excerpt">{{ post.excerpt }}</div>
					<div class="related-item__date">{{ post.date | date: "%B %-d, %Y" }}</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</div>

<script src="/assets/js/single.js"></script>
<script src="/assets/js/gumshoe.js"></script>